@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;border: none;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 7%;
    background: #eee;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
    .content{
        flex:1 1 400px;

        .title{
            font-size: 45px;
            text-transform: uppercase;
            color: #2980b9;
        }
        p{
            color: #666;
            padding: 5px 0;

        }
        .count-down{
            display: flex;
            gap: 15px;
            padding: 10px 0;

            .box{
                padding: 5px;
                background: #fff;
                border: 1px solid #3333;
                text-align: center;
                flex:1 1 20px;
                h3{
                    font-size: 50px;
                    color: #333;
                }
                span{
                    color: #2980b9;
                    font-size: 20px;
                }
            }
        }
        .btn{
            display: inline-block;
            padding: 8px 50px;
            margin: 10px 0;
            font-size: 17px;
            background: #2980b9;
            color: #fff;
            transition: .2 ease-out;
        }
        .btn:hover{
            letter-spacing: 2px;
        }
        
    }
    .image{
        flex:1 1 400px;
    
        img{
            width: 100%;
        }
    }

}


@media(max-width:500px){
    .container{
        padding: 20px;

        .content{
            text-align: center;
            .title{
                font-size: 35px;
            }
            p{
                font-size: 14px;
            }
            .count-down{
                gap: 5px;
                .box{
                    h3{
                        font-size: 30px;
                    }
                    span{
                        font-size: 15px;
                    }
                }
               
            }
        }
    }
}